<a href="https://colab.research.google.com/github/manojnahak02/IRIS-Dataset-Random-Forest/blob/master/IRIS_Dataset_Random_Forest.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
# Iris dataset can be used to learn classification techniques

In [0]:
# required Dataset & Libraries
from sklearn.datasets import load_iris

from sklearn.ensemble import RandomForestClassifier

import pandas as pd
import numpy as np
#setting random seed
np.random.seed(0)

In [3]:
iris=load_iris()
df=pd.DataFrame(iris.data, columns=iris.feature_names)
df.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

In [4]:
#adding a new column(Y) for the species name
df['species']=pd.Categorical.from_codes(iris.target,iris.target_names)
df.head()

   sepal length (cm)  sepal width (cm)  ...  petal width (cm)  species
0                5.1               3.5  ...               0.2   setosa
1                4.9               3.0  ...               0.2   setosa
2                4.7               3.2  ...               0.2   setosa
3                4.6               3.1  ...               0.2   setosa
4                5.0               3.6  ...               0.2   setosa

[5 rows x 5 columns]

In [6]:
#creating train and test data
df['is_train']=np.random.uniform(0,1,len(df))<=.75
df.tail()

     sepal length (cm)  sepal width (cm)  ...    species  is_train
145                6.7               3.0  ...  virginica      True
146                6.3               2.5  ...  virginica      True
147                6.5               3.0  ...  virginica     False
148                6.2               3.4  ...  virginica     False
149                5.9               3.0  ...  virginica     False

[5 rows x 6 columns]

In [7]:
#creating dataframes with test rows and training rows
train, test = df[df['is_train']==True], df[df['is_train']==False]

# No of observations for train & test
print('Train observations=',len(train))
print('Test observations=',len(test))

Train observations= 112
Test observations= 38

In [8]:
# Creating a list of x variables
x=df.columns[:4]
print(x)

Index(['sepal length (cm)', 'sepal width (cm)', 'petal length (cm)',
       'petal width (cm)'],
      dtype='object')

In [10]:
#converting each species(Y) name into digits
y=pd.factorize(train['species'])[0]
print(y)

[0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2
 2]

In [13]:
# Creating a random forest classifier
clf=RandomForestClassifier(random_state=0)

# Training the classifier/model
clf.fit(train[x],y)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100, n_jobs=2,
                       oob_score=False, random_state=0, verbose=0,
                       warm_start=False)

In [15]:
# Applying the trained classifier to the test
clf.predict(test[x])

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2])

In [17]:
# Viewing the predict probabilities of the any 10 rows
clf.predict_proba(test[x])[10:20]

array([[0.  , 0.89, 0.11],
       [0.  , 0.94, 0.06],
       [0.  , 1.  , 0.  ],
       [0.  , 0.99, 0.01],
       [0.  , 1.  , 0.  ],
       [0.  , 1.  , 0.  ],
       [0.  , 1.  , 0.  ],
       [0.  , 0.99, 0.01],
       [0.  , 0.98, 0.02],
       [0.  , 0.23, 0.77]])

In [20]:
# Mapping names for the plants for each predicted plant class
preds=iris.target_names[clf.predict(test[x])]

# Viewing the predicted species for first 25 rows
preds[0:25]

array(['setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa',
       'setosa', 'setosa', 'setosa', 'setosa', 'versicolor', 'versicolor',
       'versicolor', 'versicolor', 'versicolor', 'versicolor',
       'versicolor', 'versicolor', 'versicolor', 'virginica', 'virginica',
       'virginica', 'virginica', 'virginica', 'virginica'], dtype='<U10')

In [22]:
# viewing the actual species for the first 5 observations
test['species'].head()

1     setosa
5     setosa
6     setosa
13    setosa
14    setosa
Name: species, dtype: category
Categories (3, object): [setosa, versicolor, virginica]

In [23]:
# Creating confusion matrix
pd.crosstab(test['species'],preds,rownames=['Actual Species'],colnames=['Predicted Species'])

Predicted Species  setosa  versicolor  virginica
Actual Species
setosa                 10           0          0
versicolor              0           9          0
virginica               0           0         19

In [24]:
# Code for predicting the Y, against which we dont know the answer
preds=iris.target_names[clf.predict([[5.0,3.6,1.4,2.0],[5.0,3.6,1.4,2.0]])]
preds

array(['setosa', 'setosa'], dtype='<U10')